In [35]:
import  pandas as pd 
import numpy as np
from sklearn.cluster  import KMeans
import matplotlib.pyplot  as plt
from sklearn.preprocessing import scale
from sklearn import cluster
pd.set_option('display.max_columns',None)

In [36]:
data2 = pd.read_excel('2.xlsx',encoding = 'gbk')

In [37]:
data1 = pd.read_csv('1.csv',encoding ='gbk' )

In [38]:
data1

                   门店     门店ID   体检分
0       花生活鲜花（春季花艺）\t   642989  77.0
1       花生活鲜花（雅景花艺）\t   653643  81.0
2      花生活鲜花（情意浓花店）\t   714142  85.0
3       花生活鲜花（杏福花店）\t   772683  73.0
4    花生活鲜花（花好月缘鲜花店）\t   799254  73.0
..                ...      ...   ...
920            礼颂花艺\t  9803730  73.0
921            陶莉花艺\t  9805717  60.0
922            秘密花园\t  9805758  50.0
923            青雀花艺\t  9809260  47.0
924             爱之漫\t  9810227  72.0

[925 rows x 3 columns]

In [39]:
data2

,所属运营,门店ID,门店名,省,市,区,详细地址,订单数,无效订单数,体检分数,好评数,差评数,缺陷订单率,取消订单率,上线时间,取消订单数除有效订单数
0,NaN,2095123,花生活鲜花（遇见花艺馆）,NaN,NaN,NaN,NaN,273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3468033,花生活鲜花（家美园艺）,NaN,NaN,NaN,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,6729448,千百卉鲜花店（七夕预定，表白，鲜花）,NaN,NaN,NaN,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,6395163,花生活鲜花（花海）,NaN,NaN,NaN,NaN,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,8437924,卡斯曼鲜花店(衡阳先峰路店）,NaN,NaN,NaN,NaN,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,NaN,9811571,花语坊花艺,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,9841887,知意花坊,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,9841965,琥珀唯美婚庆,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,9843483,日日鲜花,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,9844538,植得,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
a = pd.merge(data2,data1,on='门店ID')

In [41]:
a.to_excel('a.xlsx')