In [14]:
import pandas as pd 
import numpy as np
import sys
# sys.path.append(r'C:\Users\Administrator\Datas\程序冗余\Python_files\pandas_')
# from defname  import *
import  matplotlib.pyplot  as plt

In [15]:
df = pd.read_csv(r'C:/Users/Administrator/Desktop/data/艾尚体检分/12.20.csv',encoding='gbk')
data = pd.read_excel(r'C:/Users/Administrator/Desktop/data/艾尚体检分/艾尚体检分test.xlsx',encoding='gbk')

In [16]:
data

,Unnamed: 0,门店,门店ID,城市(城市负责人),12.01,12.02,12.03,12.04,12.06,12.07,...,12.16,test16,12.17,test17,12.18,test18,12.19,test19,12.20,test20
0,0,花韵花艺馆鲜花店(圣诞元旦表白鲜花·开业花篮·婚车装饰)\t,9024275,郑州,56,56,56,56,56,56,...,56,0,56,0,56,0,56,0,56,0
1,1,友新意鲜花坊·圣诞元旦表白鲜花·开业花篮·婚车装饰\t,9024278,西安,85,86,87,87,88,88,...,87,0,87,0,87,0,87,0,87,0
2,2,花之都创意鲜花馆(圣诞表白鲜花-元旦花束-开业花篮)\t,9043306,潍坊,69,69,69,66,66,66,...,63,0,64,1,64,0,64,0,64,0
3,3,时初花艺鲜花店(圣诞元旦表白鲜花·开业花篮·婚车装饰)\t,9043308,咸阳,68,68,68,68,77,77,...,71,0,71,0,71,0,71,0,71,0
4,4,元寳花店-生日鲜花，表白鲜花，开业花篮\t,9043310,长春,82,81,83,82,85,86,...,87,0,86,-1,86,0,86,0,86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,458,花韵花坊鲜花店\t,10709892,济南,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,50,1,53,1,53,0
459,459,鲜花行（经六路店）\t,10709893,济南,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,49,1,51,1,51,0
460,460,温暖花坊（登州路店-圣诞表白鲜花花束）\t,10709894,烟台,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,48,1,65,1,65,0
461,461,栀夏花艺（京源大道店·圣诞元旦表白鲜花·开业花篮·婚车装饰）\t,10709895,荆门,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,49,1,65,1,65,0
462,462,花枂花艺（圣城街道店·圣诞表白鲜花）\t,10711414,潍坊,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,51,1,53,1,53,0

In [17]:
datalist = ['门店ID','12.01','12.02','12.03',12.04,'12.06','12.07','12.08','12.09','12.10','12.11','12.12','12.13','test13','12.14','test14','12.15','test15','12.16','test16','12.17','test17','12.18','test18','12.19','test19']

In [18]:
def create_data(df,data,datatime_0,datatime_1,data_list):
    test = df[['门店','门店ID','城市(城市负责人)']]
    df = df[['门店ID','体检分']]
    df.columns =  ['门店ID',datatime_1]
    data = data[data_list]
    test = pd.merge(test,data,how='left',on='门店ID')
    test = pd.merge(test,df,how='left',on='门店ID')
    test = test.fillna(-1)
    test['value'] = test[datatime_0]-test[datatime_1]
    df = test
    return  df

In [19]:
df = create_data(df,data,'12.19','12.20',datalist)

In [20]:
df['test20'] = None
df.test20[df.value > 0] = -1
df.test20[df.value == 0] = 0
df.test20[df.value < 0] = 1
df = df.drop(columns=['value'])

<ipython-input-20-b707cc7b6e80>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.test20[df.value > 0] = -1
<ipython-input-20-b707cc7b6e80>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.test20[df.value == 0] = 0
<ipython-input-20-b707cc7b6e80>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.test20[df.value < 0] = 1

In [21]:
df.to_excel(r'C:\Users\Administrator\Desktop\data\艾尚体检分\艾尚体检分test.xlsx')

In [31]:
data = pd.read_csv(r'C:/Users/Administrator/Desktop/data/艾尚体检分/12.15.csv',encoding='gbk')

In [32]:
df = pd.read_excel(r'C:/Users/Administrator/Desktop/data/艾尚体检分/艾尚体检分.xlsx',encoding='gbk')

In [33]:
df=df[['门店ID','门店']]
# df['数字'] = 1
df

         门店ID                               门店
0     9024275  花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t
1     9024278     友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
2     9043306   花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
3     9043308    时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
4     9043310            元寳花店-生日鲜花，表白鲜花，开业花篮\t
..        ...                              ...
448  10645822      浪漫花都（前进路店-生日鲜花，表白鲜花，开业花篮）\t
449  10649779      天姿鲜花（中兴路店-生日鲜花，表白鲜花，开业花篮）\t
450  10659044      花多多（红旗街道店-生日鲜花，表白鲜花，开业花篮）\t
451  10665924                   浅艺花社（夏镇磨担街店）\t
452  10666058     米洛花艺（金牛南路店-生日鲜花，表白鲜花，开业花篮）\t

[453 rows x 2 columns]

In [34]:
data = data[['门店ID','门店']]
# data['数字'] = 2
data

         门店ID                              门店
0     9024275  花韵花艺馆鲜花店(圣诞元旦表白鲜花·开业花篮·婚车装饰)\t
1     9024278     友新意鲜花坊·圣诞元旦表白鲜花·开业花篮·婚车装饰\t
2     9043306    花之都创意鲜花馆(圣诞表白鲜花-元旦花束-开业花篮)\t
3     9043308   时初花艺鲜花店(圣诞元旦表白鲜花·开业花篮·婚车装饰)\t
4     9043310           元寳花店-生日鲜花，表白鲜花，开业花篮\t
..        ...                             ...
442  10649779     天姿鲜花（中兴路店-生日鲜花，表白鲜花，开业花篮）\t
443  10659044     花多多（红旗街道店-生日鲜花，表白鲜花，开业花篮）\t
444  10665922          爱尚花艺（沿江路店-生日鲜花，表白鲜花）\t
445  10665924                  浅艺花社（夏镇磨担街店）\t
446  10666058    米洛花艺（金牛南路店-生日鲜花，表白鲜花，开业花篮）\t

[447 rows x 2 columns]

In [35]:
df1 = pd.concat([df,data],axis=0)

In [36]:
df1

         门店ID                               门店
0     9024275  花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t
1     9024278     友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
2     9043306   花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
3     9043308    时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
4     9043310            元寳花店-生日鲜花，表白鲜花，开业花篮\t
..        ...                              ...
442  10649779      天姿鲜花（中兴路店-生日鲜花，表白鲜花，开业花篮）\t
443  10659044      花多多（红旗街道店-生日鲜花，表白鲜花，开业花篮）\t
444  10665922           爱尚花艺（沿江路店-生日鲜花，表白鲜花）\t
445  10665924                   浅艺花社（夏镇磨担街店）\t
446  10666058     米洛花艺（金牛南路店-生日鲜花，表白鲜花，开业花篮）\t

[900 rows x 2 columns]

In [37]:
df1 = df1.drop_duplicates('门店ID',keep=False)

In [38]:
df1

         门店ID                                 门店
76    9370710  戴氏花艺鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
87    9385911        阁禹鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
331  10279475              一间花店-生日鲜花，表白鲜花，婚车装饰\t
372  10388550              茜施蔓-生日鲜花，表白鲜花（九经路店）\t
382  10394922             爱舍鲜花-生日鲜花，表白鲜花（昆明路店）\t
392  10417341       小伟鲜花（二中央街店-生日鲜花，表白鲜花，开业花篮）\t
395  10417415             花缘礼物店-生日鲜花，表白鲜花，婚车装饰\t
426  10535607     文碧鲜花店（镇翠屏东路店-生日鲜花，表白鲜花，开业花篮）\t
441  10601751               花落随家鲜花店（生日花表白开业花篮）\t
430  10601743                      雅兰花屋（德吉中路店）\t
435  10601923        幸福花语（观音街店-生日鲜花，表白鲜花，开业花篮）\t
440  10627868                     鑫龙婚庆花艺（八角街店）\t
444  10665922             爱尚花艺（沿江路店-生日鲜花，表白鲜花）\t

In [39]:
kens = pd.merge(df1,data,on='门店ID')
mens = pd.merge(df1,df,on='门店ID')

In [40]:
kens

       门店ID                         门店_x                         门店_y
0  10601743                雅兰花屋（德吉中路店）\t                雅兰花屋（德吉中路店）\t
1  10601923  幸福花语（观音街店-生日鲜花，表白鲜花，开业花篮）\t  幸福花语（观音街店-生日鲜花，表白鲜花，开业花篮）\t
2  10627868               鑫龙婚庆花艺（八角街店）\t               鑫龙婚庆花艺（八角街店）\t
3  10665922       爱尚花艺（沿江路店-生日鲜花，表白鲜花）\t       爱尚花艺（沿江路店-生日鲜花，表白鲜花）\t

In [41]:
mens

,门店ID,门店_x,门店_y
0,9370710,戴氏花艺鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,戴氏花艺鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
1,9385911,阁禹鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,阁禹鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t
2,10279475,一间花店-生日鲜花，表白鲜花，婚车装饰\t,一间花店-生日鲜花，表白鲜花，婚车装饰\t
3,10388550,茜施蔓-生日鲜花，表白鲜花（九经路店）\t,茜施蔓-生日鲜花，表白鲜花（九经路店）\t
4,10394922,爱舍鲜花-生日鲜花，表白鲜花（昆明路店）\t,爱舍鲜花-生日鲜花，表白鲜花（昆明路店）\t
5,10417341,小伟鲜花（二中央街店-生日鲜花，表白鲜花，开业花篮）\t,小伟鲜花（二中央街店-生日鲜花，表白鲜花，开业花篮）\t
6,10417415,花缘礼物店-生日鲜花，表白鲜花，婚车装饰\t,花缘礼物店-生日鲜花，表白鲜花，婚车装饰\t
7,10535607,文碧鲜花店（镇翠屏东路店-生日鲜花，表白鲜花，开业花篮）\t,文碧鲜花店（镇翠屏东路店-生日鲜花，表白鲜花，开业花篮）\t
8,10601751,花落随家鲜花店（生日花表白开业花篮）\t,花落随家鲜花店（生日花表白开业花篮）\t